doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p P-Tag

    input#tb1(type='text')

    button#btn1 Click Me 1
    button#btn2 Click Me 2
    button#btn3 Click Me 3
    button#btn4 Click Me 4
    button#btn5 Click Me 5
    button#btn6 Click Me 6
    button#btn7 Click Me 7

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
